body{
  background: #eeeeee6b;
}

.container{
  		margin-top: 10px;
      padding: 30px;
      border-radius: 8px;
      /*border: solid 1px #3333331f;
      box-shadow: 2px 4px 8px #33333314;*/
      position: absolute;
      top: 20px;
      transition: all 300ms ease;
      right: 110px;      
  	}
  	h2 {
  		text-align: center;
  	}
  	#calc, #Stand-Calc {
  		margin-left: 50%;
  		transform: translateX(-50%);
      margin-top: 20px;
  	}
    #valueBtn {
      display: none;
      margin-bottom: 20px;
    }
    #value-interval{
      display: none;
    }
    #results{
      margin: 20px 0 20px 0;
    }
    #myDiv{
      width: 100%;
    }
    .scrolled {
      position: fixed;
      top: 0px;
    }
    #copyright{
      position: fixed;
      bottom: 1px;
      right: 20px;
      color: #c7c7c7;
    }

    #copyright2{
      position: fixed;
      bottom: 1px;
      left: 20px;
      color: #c7c7c7;
    }

    h1{
      color: #333;
    }

    #stable-area {
      display: none;
    }

    #secondFE-Container {
      display: none;
    }

    * {
      padding: 0;
      margin:0;
      box-sizing: border-box;
    }

#sidebar {
  position: absolute;
  width: 300px;
  height: 100%;
  background-image: linear-gradient(to right top, #fcb62e, #fbbf59, #f8c87d, #f4d19f, #eddac1);
  box-shadow: 2px 3px 8px #eee;
  top: 0;
  left: -300px;
  transition: all 300ms ease;
  z-index: 1000;
}

#sidebar.active {
  left: 0;
}

#sidebar ul li {
  list-style: none;
  color: #fff;
  transition: all ease 300ms;
  padding: 20px 24px;
}

#sidebar ul li:hover   {
  background: #fff;
}

#sidebar ul li a{
  color: #fff;
  display: block;
  padding: 20px;
  font-size: 1.2em;
  transition: all 300ms ease;
}


#sidebar ul li:hover a{
  text-decoration:none;
  color: #FCB62E;
}


#sidebar .toggle-btn {
  position: absolute;
  top: 30px;
  left: 330px;
  cursor: pointer;
}

.toggle-btn span {
  width: 45px;
  height: 4px;
  background: #FCB62E;
  display: block;
  margin-top: 5px;
  border-radius: 2px;
}

.activec {
right: -190px;
}
body {
  overflow-x: hidden;
}

.brand a{
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: 'Indie Flower', cursive;
  font-size: 1.7em;
  color: #FCB62E;
  text-decoration: navajowhite;
  transition: all 300ms ease;
}

.brand a:hover {
  color: #333;
}

.linkedin-container{
  min-height: 400px;
  padding: 10px 20px 20px 20px;
}

.post {
  margin-top: 10px;
}

.lin-title {
  font-family: 'Nunito', sans-serif;
  color: #FCB62E;
  padding-left: 10px;
  border-left: #333 solid 3px;
  font-size: 1.2em;
}

.main-content{
  padding-top: 20px;
  margin-left: -50px;
  font-family: 'Nunito', sans-serif;
  color: #333;
  background: #fff;
  border: solid 1px #3333331f;
  box-shadow: 2px 4px 8px #33333314;
  border-radius: 5px;
  margin-top: 47px;
  padding: 40px;
}

.main-title{
  border-left: #FCB62E solid 3px;
  padding-left: 10px;
  margin-bottom: 20px;
}
.pro-span{

}

.p-content{
  font-size: 1.3em;
  color: #494e52;
}

.project-card{
padding: 10px;
background: #fff;
border: solid 2px #33333314;
max-width: 210px;
transition: all 300ms ease;
margin: 5px;
}

.project-card:hover{
  background: #fff;
  box-shadow: 2px 4px 8px #33333314;
  border-color: #FCB62E;
}

.pro-span{
  color: #FCB62E;
}

.scrolled {
  position: fixed;
}

.project-title{
  font-size: 1.4em;
}

.project-content{
  margin-top: 10px;
}

@media only screen and (max-width: 1200px) {

  #linkedin {
    display: none;
  }

  #main-content {
    position: absolute;
    max-width: 900px;
    margin:50px auto;

  }
  .brand a {
    display: none;
  }
}

@media only screen and (max-width: 700px) {

  #sidebar{
    display: none;
  }
  body {
    background-color: #444;
  }

  #linkedin {
    display: none;
  }

  .container {
    width: 90%;
    margin:auto;
    position: relative;
    right: 0;
  }
  .brand a {
 
